.dateRangeSelectorWrapper {
    position: relative;
    font-size: 14px;
    line-height: 24px;
}

.dateRangeSelector {
    display: flex;
    align-items: center;
    column-gap: 22px;

    cursor: pointer;
    color: #ADBFDF
}

.dateRangeSelector > div:hover {
    color: #002CFB
}

.daysCounter {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.dateRangeSelectorDropdown {
    position: absolute;
    top: 40px;
    z-index: 1000;

    padding: 4px 0 4px 0;

    border-radius: 8px;
    background: white;

    box-shadow: 0 4px 20px 0 #00000014;
}

.dateRangeSelectorDropdown > div {
    width: 204px;
    padding: 6px 20px;

    cursor: pointer;

    font-size: 14px;
    color: #122945;
}

.dateRangeSelectorDropdown > div:hover {
    background-color: #DEE4FF;
}