@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

:root {
    --table-row-left-padding: 40px;
    --table-row-right-padding: 19px;

    --text-secondary-color: #5E7793;
}

body {
    background-color: #F1F4F9;

    font-family: 'SF Pro Display', sans-serif;

}